*{
    margin: 0px;
}
#main{
    margin-top: 10px;
}
#canvas{
    width: 60%;
    height: 800px;
    margin: auto;
}
#form-body{
    border: 1px solid grey;
    width: 300px;
    height: 420px;
    margin: auto;
    margin-top: 200px;
    padding: 15px;
    border-radius: 8px;
}
    
.scrollable-box {
      max-height: 300px;    
      overflow-y: auto;
      border-radius: 10px;
}